body {margin: 0px; padding: 0px;background-color: #0D0D0D;font-family: sans-serif; roboto; }

a {text-decoration: none; }

.dropbtn {background-color: transparent; color: white; padding: 16px; font-size: 14px; border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {display: none; position: absolute; background-color: #0D0D0D; min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;color: #E4E4E4;border-radius: 10px;margin-left: 0px; 
  }
  
  .dropdown-content a {
    color: #E4E4E4;padding: 12px 16px; text-decoration: none;display: block;font-size: 14px; 
  }

  .dropdown-content a:hover {background-color: #131313;border-radius: 10px; }
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {}

  .logo-container {margin: auto; width: 170px;margin-top: -3px;padding-right: 50px;}

  .audio-sub {filter: brightness(1.5)}

  .logo-container > a > img {width: 170px; }

  .audio-container { filter: saturate(0);float: left;}

  .audio-container > iframe {filter:invert(100);margin-left: -90px;}

  nav {position: fixed; left: 0px; width: 100%;height: 90px; background-color: transparent;top: 0px;z-index: 150;; }

  .left-group {float: left;}

  nav > ul {position: fixed;right: 50px;top: 6px;color: white;}

  nav > ul > li {display: inline-block;color: white;margin-left:30px;}

  nav > ul > li > a {color: white;font-size: 14px;}

  .social-icons {float: left;position: relative; z-index: 6;;margin-top: 5px;}

  .micro-cube {width: 150px; background-color: black; height: 100%; float: left;margin-left: -77px;position: relative;z-index:5;}

  .micro-gradient {height: 100%;float: left; margin-left: 0px;}

  .social-icons > a > img {margin-left: 5px;}

  #header {background-color: transparent;  }

  #header.scrolled {background-color:black;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}


  /*------------------------------------------------------------------Hero-Section--------------------------------------------------------------------*/

  .hero-container {width: 100%; height: 653px;background-image: url(images/Banner\ Image.png); background-repeat: no-repeat;background-position: right;background-color:#100f0e ;}

.slide-container {width: 100%;}

.main-image {;height: 481px;object-fit: cover;margin-top: 90px;}

.slide-logo {width: 30%;float: left;}

.slides > p {color: white;font-size: 17px;text-align: center;margin-bottom: -45px;}

.spacer {width: 50% background-color: green; height: 245px;}





  .slides {width: 100%;}

  /*--------------------------------Events-------------------------*/

  section > h3 {font-size: 25px; color: white; margin-left:20px;}

  .event > img {width:330px;height: 222px; object-fit: cover;float:left
    ;border-radius: 5px; }

    .event-container {margin-bottom: 50px; }

  .event {width: 688px;border-right: solid;border-width: 1px; border-color:#31302E; margin-left: 15px;}



  .text-container > h4 {margin-bottom: 1px;margin-right: 15px;font-size: 19px }

  .text-container {color: white;position: relative; margin-left: 350px;border-right: solid; border-right-width: 1px; border-right-color: #31302E;padding-right: 50px;height: 100%;   }

  .text-container > span {color: #787775;margin-top: -50px;font-size: 14px; }

  .button-container {margin-left: 350px; }

  .button-container > a > button {background-color: transparent; border: solid; border-width: 1px; border-color: lightgray; color: white; border-radius: 3px; }

  .button-container > a > button:hover {cursor: pointer; background-color: white; border: none; color: black; transition: 0.2s ease; }

  .text-container > p {color: #B3B2B1;font-size: 14px;  }